[package]
name = "opus_compose"
version = "1.0.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = ">= 2.13.1"
ekubo = { git = "https://github.com/EkuboProtocol/abis", rev = "edb6de8c9baf515f1053bbab3d86825d54a63bc3" }
opus = ">= 1.3.0"
access_control = ">= 0.5.0"
wadray = ">= 0.6.1"

[dev-dependencies]
snforge_std = ">= 0.53.0"
assert_macros = ">= 2.13.1"

[lib]

[[target.starknet-contract]]
sierra = true

[scripts]
test = "snforge test"

[tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]

[[tool.snforge.fork]]
name = "MAINNET_LEVER"
url = "$NODE_URL"
block_id.number = "1034844"


[[tool.snforge.fork]]
name = "MAINNET_STABILIZER"
url = "$NODE_URL"
block_id.number = "1047705"
